[submodule "documentation"]
	path = documentation
	url = https://github.com/tobiashungwe/CCETT-documentation.git
[submodule "sources"]
	path = sources
	url = https://github.com/tobiashungwe/CCETT-sources.git
